[Unit]
Description=Run TheGame service monitor every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=15s
Unit=thegame-monitor.service

[Install]
WantedBy=timers.target
